<script>
        $(function() {
                $( "#slider" ).slider({
                        value:1,
                        min: 1,
                        max: 20,
                        step: 1,
                        slide: function( event, ui ) {
                                $( "#quantity" ).val( ui.value );
                        }
                });
                $( "#quantity" ).val( $( "#slider" ).slider( "value" ) );
        });
</script>

<h1>Hadoop management</h1>
<hr>
<h2>Add a new Hadoop node(s)</h2>
<p>You can found the image name by clicking <a href="http://genocloud.genouest.org/wordpress/?p=336" target="_blank"> here</a>.</p>
<form action="<%= XgridConfig.baseurl %>/admin/hadoop" method="post">
 <table class="tabids">
 <tr>
 <td><label for="ami">Id of the image</label></td>
 <td><select id="ami" name="ami">
  <% @amis.each do |image| %>
   <option value="<%= image.imageId %>"><%= image.imageId %></option>
  <% end %>
 </select></td>
 </tr><tr>
 <td><label for="type">Instance type</label></td>
 <td><select id="type" name="type">
 <% XgridConfig.instancetypes.each do |type| %>
    <option value="m1.<%= type %>"><%= type %></option>
 <% end %>
 </select></td>
 </tr><tr>
 <td>
  <label for="quantity">Quantity:</label>
 </td>
 <td><input type="text" name="quantity" id="quantity" style="border:0; color:#f6931f; font-weight:bold;"/></td>
 <tr></tr>
 <td>&nbsp;</td>
 <td>
  <div id="slider"></div>
 </td>
 </tr><tr>
<td colspan="2"><input type="submit"/ value="Create node(s)"></td>
 </tr>
</table>
</form>

<h2>Add manually a new Hadoop node(s)</h2>
<p>
Xgrid sets up a Hadoop cluster automatically in the cloud. To launch manually a node:
<ul>
<li>Connect to the master instance with your ssh key as root</li>
<li>Update configuration in /etc/xgrid/ec2.yaml.</li>
<li>Start one or more nodes with the command <b>ghadoop-add-nodes</b></li>
</ul>
</p>
<h2>HDFS information</h2>
<p>HDFS directory is located in /mnt/ebs/ per node id.
</p>

<h2>Test the cluster</h2>
<p>To test the cluster, one can use:</p>
<code>cd /usr/share/hadoop; hadoop jar hadoop-examples-1.0.0.jar teragen 1000 in-dir</code>

<h2>Monitoring</h2>
<ul>
<li><a href="<%= XgridConfig.baseurl %>/../hdfs/">HDFS</a></li>
<li> <a href="<%= XgridConfig.baseurl %>/../mapred/">MapRed</a></li>
</ul>
