<script language="javascript" type="text/javascript" src="/xgrid/js/editarea_0_8_2/edit_area/edit_area_full.js"></script>
<script language="javascript" type="text/javascript">
editAreaLoader.init({
	id : "bashscript"		// textarea id
	,syntax: "bash"			// syntax to be uses for highgliting
	,start_highlight: true		// to display with highlight mode on start-up
	,display: "later"
});
</script>

<script>
        $(function() {
                $( "#slider" ).slider({
                        value:1,
                        min: 1,
                        max: 20,
                        step: 1,
                        slide: function( event, ui ) {
                                $( "#quantity" ).val( ui.value );
                        }
                });
                $( "#quantity" ).val( $( "#slider" ).slider( "value" ) );
        });
</script>

<h1>Sun Grid Engine management</h1>
<hr>
<h2>Configuration</h2>
<form action="<%= XgridConfig.baseurl %>/admin/sge/slots" method="post">
<table>
<tr><td><label for="slots">Maximum number of slots/jobs per instance</label></td>
<td><input type="text" id="slots" name="slots" value="<%= @slots %>" maxlength="2" size="2"></td></tr>
<tr><td><input type="submit" value="Save slots configuration" /></td>
</tr>
</table>
</form>
<h2>Request a new grid node</h2>
<p>You can found the image name by clicking <a href="http://genocloud.genouest.org/wordpress/?p=336" target="_blank"> here</a>.</p>
<form action="<%= XgridConfig.baseurl %>/admin/sge" method="post">
 <table class="tabids">
 <tr>
 <td><label for="ami">Id of the image</label></td>
 <td><select id="ami" name="ami">
  <% @amis.each do |image| %>
   <option value="<%= image.imageId %>"><%= image.imageId %></option>
  <% end %>
 </select></td>
 </tr><tr>
 <td><label for="type">Instance type</label></td>
 <td><select id="type" name="type">
 <% XgridConfig.instancetypes.each do |type| %>
    <option value="<%= type %>"><%= type %></option>
 <% end %>
 </select></td>
 </tr><tr>
 <td>
  <label for="quantity">Quantity:</label>
 </td>
 <td>
   <input type="text" name="quantity" id="quantity" style="border:0; color:#f6931f; font-weight:bold;"/>
 </td></tr>
 <tr><td>&nbsp;</td><td>
  <div id="slider"></div>
 </td>
 </tr><tr>
 <td colspan="2"><input type="submit" value="Create node(s)"/></td>
 </tr>
 </table>
</form>


<h2>Execute bash script on all nodes</h2>
<% header = "#!/bin/bash\n# write any bash command to execute on all nodes\n# example: apt-get install -y xxxxx\n# example: mkdir /opt/xxxx" %>
<form action="<%= XgridConfig.baseurl %>/admin/sge/fabric" method="post">
<table>
<tr><td>
<textarea id="bashscript" rows="20" cols="80" name="script">
<%= header %>
</textarea>
</td></tr>
<tr><td>
<input type="checkbox" name="localhost" value="true" checked="true"> Also running on the master
</td></tr>
<tr><td><input type="submit" value="Execute on all nodes" /></td></tr>
</table>
</form>
<p>You can check details on the execution by consulting the /var/log/xgrid_fabric.log file within your virtual machine.</p>


<h2>List of jobs</h2>
<!--% unless @qstat.nil? || @qstat == "" %-->
<% if @qstat == "" %>
<p> No jobs running </p>
<% else %>
<table id="tab_jobs" class="tab_nodes">
<tr>
<td><label>job-ID</label></td>
<td><label>prior</label></td>
<td><label>name</label></td>
<td><label>user</label></td>
<td><label>state</label></td>
<td><label>submit/start</label></td>
<td><label>at</label></td>
<td><label>queue</label></td>
<td><label>slots ja-task-ID</label></td>
</tr>
<!-- remove the qstat command header -->
<% @qstat = @qstat.split("\n")[2..-1].join("\n") %>
<% @qstat.each_line do |line| %>
<tr>
<% line.split(' ').each do |block| %>
<td><%= block %></td>
<% end %>
</tr>
<% end %>
<% end %>
</table>
