<h1>Cookbook "<%= @cookbook_name %>"</h1>
<p>A cookbook installation may take few minutes. During this time, the page will be busy. Please don't stop the process.
<p>At the end of the installation, the chef log will appear on the page.</p>
<h2>Installation</h2>
<img id="install" src="<%= XgridConfig.baseurl %>/images/logo_install.png" alt="Install this cookbook"/>
<form action="<%= XgridConfig.baseurl+"/admin/cookbook/install/"+@cookbook_name %>" method="post">
<input type="submit" value="<%= @cookbook_name %> installation" />
</form>
<% if @result %>
  <h2> Chef installation results </h2>
  <% @result.split(/\n/).each do |line| %>
  <p><%= line %></p>
<% end %>
<% end %>

