<html>
<head>
<script type="text/javascript" src="<%= XgridConfig.baseurl %>/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="<%= XgridConfig.baseurl %>/js/jquery-ui-1.8.18.custom.min.js"></script>
<link type="text/css" href="<%= XgridConfig.baseurl %>/css/xgrid.css" rel="stylesheet"/>
<link type="text/css" href="<%= XgridConfig.baseurl %>/css/smoothness/jquery-ui-1.8.18.custom.css" rel="stylesheet"/>
<script type="text/javascript" src="<%= XgridConfig.baseurl %>/js/tooltip.js"></script>

<script>
 $(document).ready(function() {
 });
</script>

<title>XGrid</title>
</head>
<body>
<div class="header">
<img class="logo" src="<%= XgridConfig.baseurl %>/images/title.png"/>
</div>
<div class="menu">
  <div class="items">
  <div class="item"><a href="<%= XgridConfig.baseurl+"/admin" %>">Administration</a></div>
  <!--div class="item"><a href="<%= XgridConfig.baseurl+"/admin/ec2" %>">EC2</a></div-->
  <% XgridConfig.dashboard.each do|name,route|%>
    <div class="item">
      <a href="<%= XgridConfig.baseurl+route %>"><%= name %></a>
    </div>
  <% end %>
  </div>
  <!--div class="band" style="background-color: #f4da0b; "></div>
  <div class="band" style="background-color: #b6e415; "></div>
  <div class="band" style="background-color: #4b8ad0; "></div>
  <div class="band" style="background-color: #ee5f13; "></div-->
</div>
<div class="content">
  <%= yield %>
</div>
<div class="footer">
  <div class="info">Copyright 2012 GenOuest Bioinformatics platform, IRISA</div>
  <div class="info">Contact: <a href="mailto:support[at]genouest.org">support[at]genouest.org</a></div>
</div>
</body>
</html>

