<div>
<form action="<%= XgridConfig.baseurl+"/admin/node/delete/"+@node.id.to_s %>" method="post">
<input id="delete_node" type="submit" value="delete this node"/>
</form>
<h1><% if @node.name == '' %> <i>not defined</i> <% else %> <%= @node.name %> <% end %></h1>
<hr>
</div>
<% if !@node.info.nil? && ! @node.info.empty? %>
<p>Info: <%= @node.info %></p>
<% end %>
<% if ! @node.name.empty? %>
<h2>Real memory usage</h2>
<p>
<img src="<%= settings.baseurl %>/images/rrd/mem-<%= @node.name %>.png" class="rrd">
</p>
<h2>Real CPU usage</h2>
<p>
<img src="<%= settings.baseurl %>/images/rrd/cpu-<%= @node.name %>.png" class="rrd">
</p>
<% end %>
