<h1>Node</h1>
<p>Id: <%= @node.id %></p>
<p>Name: <%= @node.name %></p>
<p>Status: <%= @node.status %></p>
<% if !@node.info.nil? && ! @node.info.empty? %>
<p>Info: <%= @node.info %></p>
<% end %>
<% if ! @node.name.empty? %>
<p>
<img src="<%= settings.baseurl %>/images/rrd/mem-<%= @node.name %>.png" class="rrd"></td><td><img src="<%= settings.baseurl %>/images/rrd/cpu-<%= @node.name %>.png" class="rrd">
</p>
<% end %>
<img id="trash"  src="<%= XgridConfig.baseurl %>/images/trash.png" alt="Delete all nodes"/>
<form action="<%= XgridConfig.baseurl+"/admin/node/delete/"+@node.id.to_s %>" method="post">
<input type="submit" value="delete this node"/>
</form>
