<h1>Administration page</h1>
<h2>Update EC2 access</h2>
<% if  @ec2.length==0 %>
  <p>EC2 parameters are not set, they are needed to add new nodes</p>
<% end %>
<form action="<%= settings.baseurl %>/admin/ec2">
<input type="submit" value="Update"/>
</form>
<h2>Remote API</h2>
<p>API key : <%= settings.apikey %></p>

<h2>Nodes</h2>
<% if @nodes && @nodes.length>0 %>
    <table>
        <%@nodes.each do |r|%>
        <tr valign="top">
            <td><a href="<%= settings.baseurl %>/admin/node/<%=r.id%>"><%=r.id%></a></td><td><%=r.name%></td><td><%=r.status%></td>
        </tr>
        <%end%>
    </table>
   <form action="<%= XgridConfig.baseurl+"/node/delete" %>" method="post">
     <img id="trash"  src="<%= XgridConfig.baseurl %>/images/trash.png" alt="Delete all nodes"/>
     <input type="submit" value="delete all"/>
   </form>

<% else %>
   <p>No node available</p>
<% end %>
