<h1>Administration page</h1>
<h2>Update EC2 access</h2>
<% if  @ec2.length==0 %>
  <p>EC2 parameters are not set, they are needed to add new nodes</p>
<% end %>
<form action="<%= settings.baseurl %>/admin/ec2">
<input type="submit" value="Update"/>
</form>
<h2>Cluster</h2>
<p>API key : <%= settings.apikey %></p>
<p>Current number of nodes : </p>

<form action="<%= settings.baseurl %>/admin/node" method="post">
 <input type="hidden" id="apikey" name="apikey" value="<%= settings.apikey %>"/>
 <input type="submit" value="Request new node"/>
</form>

<h2>Nodes</h2>
... list of node with removal capability....
<% if @nodes %>
    <table>
        <%@nodes.each do |r|%>
        <tr valign="top">
            <td><a href="<%= settings.baseurl %>/admin/node/<%=r.id%>"><%=r.id%></a></td><td><%=r.status%></td>
        </tr>
        <%end%>
    </table>
<% else %>
   <p>No node available</p>
<% end %>
